env: local
timeout_stop: 10s
http:
  host: localhost
  port: 8080
grpc:
  host: localhost
  port: 8081
database:
  host: localhost
  port: 5432
  user: postgres
  password: postgres
  name: postgres